# OSX
*/.DS_Store
.DS_Store

# Python
*.py[cod]
*.pyo
__pycache__/
*.egg-info/
*.egg
*.spec
*.tar.gz

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_metadata
*.jupyter

# Downloads
*.tar

# Data
./competition_models/MB_Knowledge-Distillation-via-ND/CIFAR/Dataset/data/*
./competition_models/MB_Knowledge-Distillation-via-ND/CIFAR/DIST++/Dataset/data/*
./competition_models/MB_Knowledge-Distillation-via-ND/CIFAR/ReviewKD++/Dataset/data/*

# ND Cifar teacher weights
./competition_models/MB_Knowledge-Distillation-via-ND/CIFAR/ckpt/cifar_teachers/*
./competition_models/MB_Knowledge-Distillation-via-ND/CIFAR/*
./src/WIDER/*
./src/class_means/*
./src/CIFAR/ckpt/*

# AWS
*.boto
*.aws/config
*.aws/credentials

# Virtual environment
venv/

# folders
notebooks/local_images_dir/

